node_modules
dev
docs
lib/dist
lib/src/cmaf/manifest-samples/**
*.md
.github
.eslintrc.json
.prettierrc
.devcontainer
.docs
.jsconfig.json
.tsconfig.json
.package.json
.package-lock.json
*.m3u8
*.mpd
