name: Docs

on:
  workflow_dispatch:

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
          scope: "@svta"

      - name: Install
        run: npm ci

      - name: Build Docs
        run: npm run build

      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./docs/dist/
          personal_token: ${{ secrets.GH_ACTIONS }}
