name: Publish

on:
  workflow_dispatch:

env:
  PKG_VERSION: ""
jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
          scope: "@svta"

      - name: Install
        run: npm ci

      - name: Test
        run: npm test

      - name: Publish
        run: npm run pub
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docs
        run: npm run build -w docs

      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./docs/dist/
          personal_token: ${{ secrets.GH_ACTIONS }}
